/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/sample/
*.bundle
*.so
*.o
*.a
mkmf.log

# rspec failure tracking
.rspec_status

Gemfile.lock

cades-linux-amd64/
linux-amd64_deb/
